<div class="d-flex flex-column min-vh-100 mainBackground">

  <!-- Header -->
  <header class="d-flex justify-content-between align-items-center p-3">
    <div>
      <app-display-logo [src]="'myLogo.png'" [width]="'75px'" [height]="'75px'"/> 
    </div>
    <div>
        <button class="btn btn-outline-secondary">
          <!-- Navigation -->
          <nav class="navbar navbar-expand-lg navbar-light bg-primary text-white">
            <div class="container-fluid">
              <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar" aria-controls="headerNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-left" id="headerNavbar">
                <app-header-menu/>
              </div>
            </div>
          </nav>
        </button>
    </div>
    <div>
      <app-display-contact-info [socialOnly]="true"/>
  </div>
</header>

<!-- Main Content Section -->
<section class="container my-4">
  <div class="row mt-3 contentWindow">
    <router-outlet></router-outlet>    

    <app-modal-window/>
  </div>
</section>

  <!-- Footer -->
  <footer class="text-white text-center py-3">
    <p>&copy; 2024 My Angular App. All rights reserved.</p>
    <app-display-contact-info [socialOnly]="false"/>
  </footer>
</div>
