// Import Bootstrap SCSS
@import "../color-scheme.scss";

header, footer{
  background-color: $color4;
  color: white;
}

.header-title {
  font-size: 2rem;
  @media (max-width: 768px) {
    font-size: 1.5rem;
    text-align: center;
  }
}

.navbar-toggler {
  background-color: white; // Makes button visible on primary background
  border-radius: 5px;
}

.content-wrapper {
  padding: 20px;
  @media (max-width: 768px) {
    padding: 10px;
  }
}

.mainBackground {
  background-color: $color3;
}

.contentWindow
{
  background-color: $color2;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
