// Override Bootstrap Variables
$primary: #BF8821; // Change primary color
$primaryLight: lighten($primary, 25%); // Change primary light color
$primaryComplament: complement($primary); // Change primary complament color

$secondary: #F2D22E; // Change secondary color
$secondaryLight: lighten($secondary, 25%); // Change secondary light color
$secondaryComplament: complement($secondary); // Change secondary complament color

$thirdcolor: #D9AA1E; // Change secondary color
$thirdLight: lighten($thirdcolor, 25%); // Change secondary light color
$thirdComplament: complement($thirdcolor); // Change secondary complament color

$fourthcolor: #8C6620; // Change secondary color
$fourthLight: lighten($fourthcolor, 25%); // Change secondary light color
$fourthComplament: complement($fourthcolor); // Change secondary complament color

//Font Colors
$bodyTextColor: #696969; // Change body text color
$h1TextColor: #333; // Change h1 text color
$h2TextColor: #333; // Change h2 text color
$h3TextColor: #333; // Change h3 text color
$hightlightTextColor: #333; // Change hightlight text color
$calltoactionTextColor: #333; // Change call to action text color

$body-bg: #ffffff; // Change body background color
$white: #ffffff; // Change white color
$gray-500: #e0e0e0; // Change gray color
$gray-200: #e9ecef; // Change gray color
$headertextcolor: black; // Change header text color
$font-family-sans-serif: 'Roboto', sans-serif; // Change default font 