/* this scss file is for CSS that is site wide and needs to be availible to multiple pages*/

// Import Bootstrap SCSS
@import "./color-scheme.scss";

body {
  background-color: $body-bg !important;
  color: $bodyTextColor !important;
  font-family: $font-family-sans-serif;
}

h2 {
  color: $h1TextColor !important;
}

/* used for DIVs that "pop in" and out */

.pop-in {
  opacity: 0;
  transform: scale(0);
}

.pop-in.visible {
  opacity: 1;
  transform: scale(1);
}

.row > *
{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#homeContentOne
{
  background-color: pink;
}
// Import Bootstrap SCSS
@import "bootstrap/scss/bootstrap";


